#wapper {
  max-width: 1320px;
}
#wapper h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#header {
  background-color: blue;
  color: white;
}
#row {
  display: inline-block;
}
#row div {
  list-style: none;
  float: left;
  padding-left: 10px;
  /*text-align: center;*/
}
#row p {
  border: 1px solid gray;
  border-radius: 5%;
  display: inline-block;
  padding-right: 200px;
  border-radius: 5%;
}
#detai {
  border: 1px solid gray;
  border-radius: 5%;
  width: 300px;
  margin-left: 60px;
  text-align: left;
  padding-left: 20px;
}
ul li {
  list-style-type: none;
  text-align: left;
}
